@{
    ViewBag.Title = "Patient Home Page";
}

 <style>
    .jumbotron {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        color: inherit;
        background-color: #1186C3;
   }
</style>

<div class="jumbotron">
    <h1 style="text-align:center"><font color="#FFFFFF">Ehrgo Health</font></h1>
    <h2 style="text-align:center"><font color="#FFFFFF">Patient Portal</font></h2>
    <p class="lead">@ViewBag.Message</p>
</div>
<p>
    <h4 style="text-align:center"><i><font color="#000000">Ehrgo Health enables patients to verify new medication and track allergy history. </font></i></h4>
</p>

<div class="row">
    <div class="col-sm-3">
        <img src="~/Content/Images/EHR_illustration2.png" />
    </div>
 <!--   <div class="row"> -->
    <div class="col-sm-3">
        <h3><img src="~/Content/Images/rx.png" />&nbsp;Check Medication</h3>
        <p>
            Check new drug against existing treatment plans and information
        </p>
        <p>
            <a class="btn btn-default" @Html.ActionLink("Update and Verify Medication", "CheckAllergy", "Home") </a>
        </p>
    </div>
    <div class="col-sm-3">
        <h3><img src="~/Content/Images/notepad.png" />&nbsp;View History</h3>
        <p>
            View current medication information
        </p>
        <p>
            <a class="btn btn-default" @Html.ActionLink("View Current Medication and Allergy Lists", "History", "Home") </a>
        </p>
    </div>
    <div class="col-sm-3">
        <h3><img src="~/Content/Images/fitbitlogo.png" />&nbsp;Import Fitbit Data</h3>
        <p>
            Import your fitbit food log
        </p>
        <p>
            <a class="btn btn-default" @Html.ActionLink("Goto import page", "Index", "Fitbit") </a>
        </p>
    </div>
        </div>
   
     <div class="row">
         <div class="col-sm-3">
         <!-- No data here. Placeholder so 2nd row lines up with first row.-->
         </div>
         <div class="col-sm-3">
                 <h3><img src="~/Content/Images/excl-point.png" />&nbsp;Add Allergy</h3>
                 <p>
                     Add medication that you are allergic to
                 </p>
                 <p>
                     <a class="btn btn-default" @Html.ActionLink("Add Medication Allergy", "AddAllergy", "Home") </a>
                 </p>
             </div>
             <div class="col-sm-3">
                 <h3><img src="~/Content/Images/list.png" />&nbsp;Allergy History</h3>
                 <p>
                     View all medication allergies
                 </p>
                 <p>
                     <a class="btn btn-default" @Html.ActionLink("View Current Medication and Allergy Lists", "AllergyHistory", "Home") </a>
                 </p>
             </div>
         </div>
</div>